.description-button-container {
  display: flex;
  align-items: flex-start;
  padding-left: 3px;

  div {
    padding-left: 30px;

    button {
      font-family: ubuntu-medium, sans-serif;
      background: #1ea3dc;
      color: white;
      height: 55px;
      font-size: 15px;
      min-width: 200px;
      margin-top: 5px;
    }
  }
}
