<div class="page-container">

  <h1 class="titre-page">Complément de rémunération</h1>

  <div class="description-button-container">
    <app-text-description></app-text-description>
    <div>
      <button mat-flat-button>LANCER LE CALCUL</button>
    </div>
  </div>

  <div class="sites-stats-container">
    <ng-container *ngFor="let siteStat of sitesStats$ | async">
      <app-site-stat-cadre
        [width]="'200px'"
        [siteStat]="siteStat"
        class="site-stat-cadre">
      </app-site-stat-cadre>
    </ng-container>
  </div>

  <div class="tableau-container">
    <app-tableau-pub-et-rejeux
      class="tableau-container"
      [publications]="publications$ | async">
    </app-tableau-pub-et-rejeux>
  </div>

</div>
