<mat-toolbar appNoHighlight>

  <div class="menu-tabs">
    <div class="menu-tab padding-tabs-left">
      <img class="menu-logo-enedis" src="../../../../assets/img/logo_enedis.png" alt="logo-enedis">
    </div>
    <ng-container *ngFor="let tab of menuTabs">
      <div
        matRipple
        routerLink="{{tab.routeUrl}}"
        (click)="changeActiveTab(tab.name)"
        [ngClass]="tab.isActive ? 'menu-tab padding-tabs-left menu-button selected'
                                : 'menu-tab padding-tabs-left menu-button'">
        <span>{{tab.name}}</span>
      </div>
    </ng-container>
  </div>

  <div class="menu-tabs">
    <div class="menu-tab padding-tabs-right">
      <mat-icon class="menu-icon-settings" aria-hidden="false" aria-label="Settings icon">settings</mat-icon>
    </div>
    <div class="menu-tab padding-tabs-right">
      <div [ngClass]="activatedTab && activatedTab.name === 'SUIVI DES SITES' ? 'menu-user-logo pink-logo'
                                                                              : 'menu-user-logo'">
        <span>TR</span>
      </div>
    </div>
  </div>

</mat-toolbar>
