mat-toolbar {
  height: 60px;
  box-shadow: 0 10px 5px -5px #BDBDBD;
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-family: ubuntu-bold, sans-serif;

  .menu-tabs {
    display: flex;
    height: 100%;

    .menu-tab {
      height: 100%;
      display: flex;
      align-items: center;

      &.padding-tabs-left {
        padding: 0 40px;
      }

      &.padding-tabs-right {
        padding: 0 10px;
      }
    }

    .menu-button {
      font-size: 14px;
      color: #1461b3;
      cursor: pointer;

      &:hover {
        color: #0D47A1;
      }

      &.selected {
        background-color: #bfe7f6;
        border-bottom: solid 5px #92c534;
        position: relative;
        bottom: 5px;

        & > span {
          position: relative;
          top: 5px;
        }
      }
    }

    .menu-logo-enedis {
      width: 100px;
      height: auto;
    }

    .menu-icon-settings {
      font-size: 34px;
      width: 34px;
      height: 34px;
      color: #9E9E9E;
      cursor: pointer;

      &:hover {
        color: #616161;
      }
    }

    .menu-user-logo {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: #1eb0a7;
      color: #ffffff;
      text-align: center;
      overflow: hidden;
      transition: background .25s ease;

      &.pink-logo {
        background: #ed4870;
      }

      & > span {
        position: relative;
        top: 10px;
        font-family: ubuntu-regular, sans-serif;
        font-size: 20px;
      }
    }

  }

}
