<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <caption>
    <div class="tableau-header">
      <span style="white-space: nowrap">PUBLICATIONS ET REJEUX</span>
      <div class="filtres-statut-container">
        <mat-checkbox
          *ngFor="let filtre of filtresStatut"
          (change)="applyFilters()"
          [(ngModel)]="filtre.isChecked">
          {{filtre.getLabelFiltre()}}
        </mat-checkbox>
      </div>
    </div>
  </caption>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> ID </th>
    <td mat-cell *matCellDef="let publication" class="center-text"> {{publication.id}} </td>
  </ng-container>

  <ng-container matColumnDef="statut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Statut </th>
    <td mat-cell *matCellDef="let publication" class="center-text">
      <div class="cellule-statut">
        <app-cercle-statut-publication
          [radius]="'14px'"
          [statut]="publication.statut">
        </app-cercle-statut-publication>
        <span class="label-statut"> {{publication.statut}} </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Type </th>
    <td mat-cell *matCellDef="let publication" class="center-text"> {{publication.type}} </td>
  </ng-container>

  <ng-container matColumnDef="periode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Période </th>
    <td mat-cell *matCellDef="let publication" class="center-text"> {{publication.periode}} </td>
  </ng-container>

  <ng-container matColumnDef="receptionFichierPeriode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Réception fichier péri. </th>
    <td mat-cell *matCellDef="let publication" class="center-text"> {{publication.receptionFichierPeriode}} </td>
  </ng-container>

  <ng-container matColumnDef="datePublication">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Date de publication </th>
    <td mat-cell *matCellDef="let publication" class="center-text"> {{publication.datePublication | tiretIfNull}} </td>
  </ng-container>

  <ng-container matColumnDef="nbSitesEnErreur">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Sites en erreur </th>
    <td mat-cell *matCellDef="let publication" class="center-text"> {{publication.nbSitesEnErreur | tiretIfNull}} </td>
  </ng-container>

  <ng-container matColumnDef="commUser">
    <th mat-header-cell *matHeaderCellDef scope="col"> Commentaires utilisateur </th>
    <td mat-cell *matCellDef="let publication" style="width: 300px"
        (mouseleave)="classRow='row-highlighted'"
        (mouseenter)="classRow=''">
      <app-commentaire
        [idComment]="publication.id"
        [originalComment]="publication.commUser">
      </app-commentaire>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    [ngClass]="classRow"
    (mousedown)="navigateToDetail(row)"
    *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[100]" showFirstLastButtons></mat-paginator>
