.filtres-statut-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 10px;
  font-size: 14px;
  font-family: ubuntu-medium, sans-serif;

  .mat-checkbox {
    margin: 0 10px;
  }

  ::ng-deep {
    .mat-checkbox-frame {
      border-color: white;
    }
    .mat-checkbox-checkmark {
      fill: #1461b3;
    }
    .mat-checkbox-checkmark-path {
      stroke: #1461b3 !important;
    }
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background: white;
    }
  }
}

.cellule-statut {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;

  .label-statut {
    width: 60px;
    padding-left: 10px;
  }
}

tr.row-highlighted {
  cursor: pointer;

  &:hover {
    background-color: #bfe7f6;
  }

}
