<div
  *ngIf="!!originalComment || isNewCommentStarted"
  #divComment
  (keydown)="keyPressed($event)"
  (input)="activeDebounceOnText()"
  (focus)="activeDebounceOnText()"
  (mousedown)="activeDebounceOnText()"
  (blur)="blur()"
  contenteditable="true"
  spellcheck="false"
  class="comment-container">
  <span>{{originalComment}}</span>
</div>

<div
  *ngIf="!originalComment && !isNewCommentStarted"
  class="default-comment"
  (click)="startNewComment()">
  Laisser un commentaire
</div>
