.comment-container {
  min-width: 250px;
  margin: 5px 0;
  line-height: 1.1;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;

  &:focus {
    color: #1461b3;
  }
}

.default-comment {
  cursor: text;
  font-family: ubuntu-italic, sans-serif;
  color: #616161;
  opacity: 0;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
  }
}
