.stat-site-cadre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px #d5d5d5;
  border-radius: 5px;
  height: 60px;

  .value {
    color: #1461b3;
    font-size: 32px;
    padding-top: 5px;
    font-family: ubuntu-light, sans-serif;
  }

  .description {
    color: #1ea3dc;
    padding-top: 5px;
    font-family: ubuntu-medium, sans-serif;
    text-align: center;
    line-height: 1.2;
    min-height: auto;
  }

}
