<div class="stat-site-cadre-container" [style.width]="width">
  <span class="value">{{siteStat.value}}</span>
  <span appAdaptSiteStatLabelSize class="description">{{siteStat.description}}</span>
</div>
