.cercle-statut {
  background: #d7dee4;
  border: solid 2px #afbfc9;

  &.statut-en-cours {
    background: #d8e8f2;
    border: solid 2px #71afd4;
  }

  &.statut-a-valider {
    background: #fde3e9;
    border: solid 2px #ff9cb5;
  }

  &.statut-validee {
    background: #fbf0dd;
    border: solid 2px #ffcf46;
  }

  &.statut-erreur {
    background: #fbdbd7;
    border: solid 2px #f63027;
  }

  &.statut-publiee {
    background: #edf4df;
    border: solid 2px #8cc641;
  }

}
