/****************************** Font Ubuntu ******************************/
@font-face {
  font-family: ubuntu-regular;
  src: url(assets/fonts/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: ubuntu-italic;
  src: url(assets/fonts/Ubuntu-Italic.ttf) format("truetype");
}

@font-face {
  font-family: ubuntu-bold;
  src: url(assets/fonts/Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
  font-family: ubuntu-medium;
  src: url(assets/fonts/Ubuntu-Medium.ttf) format("truetype");
}

@font-face {
  font-family: ubuntu-light;
  src: url(assets/fonts/Ubuntu-Light.ttf) format("truetype");
}

/****************************** Angular Material Theme ******************************/
@import 'node_modules/@angular/material/theming';
@include mat-core();
$complement-remuneration-app-primary: mat-palette($mat-indigo);
$complement-remuneration-app-accent: mat-palette($mat-pink, A200, A100, A400);
$complement-remuneration-app-warn: mat-palette($mat-red);
$complement-remuneration-app-theme: mat-light-theme((
  color: (
    primary: $complement-remuneration-app-primary,
    accent: $complement-remuneration-app-accent,
    warn: $complement-remuneration-app-warn,
  ),
));
@include angular-material-theme($complement-remuneration-app-theme);

$complement-remuneration-app-typography: mat-typography-config($font-family: 'ubuntu-regular');
@include mat-core($complement-remuneration-app-typography);

/****************************** Angular Material Icons ******************************/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(assets/icons/MaterialIcons-Regular.woff2) format('woff2')
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/****************************** Global CSS ******************************/
body {
  margin: 0 auto;
}

*:focus {
  outline: none;
}

.page-container {
  margin: 30px;

  @media (min-width: 1300px) {
    margin: 30px auto;
    max-width: 1300px;
  }
}

.titre-page {
  font-family: ubuntu-medium, sans-serif !important;
  color: #1461b3;
}

.sites-stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .site-stat-cadre {
    margin: 15px;
  }
}

// Tableau
.tableau-container {
  margin: 15px;
}

.tableau-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: #1461b3;
  color: white;
  font-family: ubuntu-medium, sans-serif;
  font-size: 18px;
  height: 40px;
}

table {
  width: 100%;
}

th.mat-header-cell {
  font-family: ubuntu-medium, sans-serif;
  color: #212121;
}

tr.mat-header-row {
  height: 40px !important;
}

tr.mat-row {
  height: 40px !important;
}

td.mat-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 5px !important;
  font-size: 12px;

  &:last-of-type {
    border-right: none;
  }

  &.center-text {
    padding: 0 !important;
    text-align: center;
  }
}

.mat-paginator {
  background: none;
}

// checkbox
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: #1ea3dc;
}
