<div class="page-container">

  <h1 class="titre-page">Liste des sites</h1>

  <div class="sites-stats-container">
    <ng-container *ngFor="let siteStat of sitesStats$ | async">
      <app-site-stat-cadre
        [width]="'150px'"
        [siteStat]="siteStat"
        class="site-stat-cadre">
      </app-site-stat-cadre>
    </ng-container>
  </div>

  <div class="tableau-container">
    <app-tableau-site
      class="tableau-container"
      *ngIf="(sitesASuivre$ | async).length > 0"
      [titre]="'SITES À SUIVRE'"
      [sites]="sitesASuivre$ | async">
    </app-tableau-site>
  </div>

  <div class="tableau-container">
    <app-tableau-site
      class="tableau-container"
      *ngIf="(sitesResolus$ | async).length > 0"
      [titre]="'SITES RÉSOLUS'"
      [sites]="sitesResolus$ | async">
    </app-tableau-site>
  </div>

</div>
