<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <caption>
    <div class="tableau-header">{{titre}}</div>
  </caption>

  <ng-container matColumnDef="refContrat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Référence contrat </th>
    <td mat-cell *matCellDef="let site" class="center-text"> {{site.refContrat}} </td>
  </ng-container>

  <ng-container matColumnDef="idc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> IDC </th>
    <td mat-cell *matCellDef="let site" class="center-text"> {{site.idc}} </td>
  </ng-container>

  <ng-container matColumnDef="isAutoconso">
    <th mat-header-cell *matHeaderCellDef scope="col"> Autoconso </th>
    <td mat-cell *matCellDef="let site" style="border-right: none" class="center-text">
      <mat-icon *ngIf="site.isAutoconso" class="icon-sunny" aria-hidden="false" aria-label="sun icon">wb_sunny</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="nomInstallation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Nom d'installation </th>
    <td mat-cell *matCellDef="let site"> {{site.nomInstallation}} </td>
  </ng-container>

  <ng-container matColumnDef="commClient">
    <th mat-header-cell *matHeaderCellDef scope="col"> Commentaires client </th>
    <td mat-cell *matCellDef="let site"> {{site.commClient}} </td>
  </ng-container>

  <ng-container matColumnDef="commUser">
    <th mat-header-cell *matHeaderCellDef scope="col"> Commentaires utilisateur </th>
    <td mat-cell *matCellDef="let site" style="width: 300px">
      <app-commentaire
        [idComment]="site.refContrat"
        [originalComment]="site.commUser"></app-commentaire>
    </td>
  </ng-container>

  <ng-container matColumnDef="isResolu">
    <th mat-header-cell *matHeaderCellDef scope="col"> Résolu </th>
    <td mat-cell *matCellDef="let site" class="center-text">
      <mat-checkbox [checked]="site.isResolu" [disabled]="true"></mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[100]" showFirstLastButtons></mat-paginator>

