.text-description {
  display: block;
  font-size: 12px;
  text-align: justify;
  max-height: 70px;
  line-height: 1.4;
  overflow-y: hidden;
  white-space: pre-line;
  transition: max-height .25s ease;

  // Hauteur du texte pour Chrome & Safari
  @media screen and (-webkit-min-device-pixel-ratio:0)
  {
    max-height: 65px;
  }

  &.full-print {
    max-height: 185px;
  }
}

.more-less {
  color: #1ea3dc;
  font-family: ubuntu-italic, sans-serif;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    color: #1976D2;
  }
}
